// colors
$black: #000;
$white: #fff;

$main-text-color: #21201f;
$secondary-text-color:  #595959;

$main-dark-color: #21201f;
$secondary-dark-color: #A8A8A8;

$main-dark-color2: #1E1E1E;
$main-dark-color3: #211F1F;

$accent-color: #d11918;
$accent-color-hover: #b71515;

$main-white: #fbf9fb;
$light-grey: #F3F0F1;
$medium-grey: #E3E1E4;
$dark-grey: #B9B9B9;


$main-bg-color: #fbf9fb;
$main-accent-color: red;

// fonts
$main-font-family: "Inter", sans-serif;
$main-font-size: 16px;

// breakpoints
$bp-xs: 413px;
$bp-sm: 575px;
$bp-md: 767px;
$bp-lg: 991px;
$bp-xl: 1201px;
$bp-xxl: 1401px;