.modal(id="modal-call", aria-hidden="true")
  .modal__overlay(tabindex="-1" data-modal-close)
    .modal__container(role="dialog", aria-modal="true", aria-labelledby="modal-call-title")
      header.modal__header
        .h4.modal__title(id="modal-call-title") Заказать звонок
        button.modal__close(aria-label="Close modal", data-modal-close)
      .modal__content(id="modal-call-content")
        p Оставьте заявку, и мы перезвоним вам в ближайшее время.
        form.modal__form(action="mail.php", method="POST")
          label.input
            input.input__native(type="text", name="user_name", placeholder="Имя", required="required")
            span.input__label Имя
          label.input
            input.input__native(type="tel", name="user_phone", placeholder="+7 (___) ___-__-__", required="required")
            span.input__label Телефон
          input.btn.modal__btn(type="submit", name="Оставить заявку" value="Оставить заявку")
.modal(id="modal-success", aria-hidden="true")
  .modal__overlay(tabindex="-1" data-modal-close)
    .modal__container(role="dialog", aria-modal="true", aria-labelledby="modal-call-title")
      header.modal__header
        .h4.modal__title(id="modal-call-title") Спасибо
        button.modal__close(aria-label="Close modal", data-modal-close)
      .modal__content(id="modal-call-content")
        p Ваше сообщение отправлено. Мы свяжемся с вами в ближайшее время.