section.section.section--bg-grey
  .container 
    .section__img-block.img-block 
      .img-block__content 
        h2.section__title Мы предлагаем
        .img-block__text
          p.text-md Свяжитесь с менеджером <span class="text-accent">«АСКАДА»</span> и узнайте о всех преимуществах сотрудничества:
          ul.arrow-list
            li минимизация рисков в области охраны труда;
            li снятие с компании большей части юридической ответственности перед сотрудниками;
            li завершение проектов без затрат на увольнение сотрудников;
            li отсутствие затрат на администрирование и кадровое сопровождение;
            li выполнение работ в любое время суток, как в выходные, так и в праздничные дни;
            li быстрый маневр количеством персонала;
            li возможность сконцентрироваться на основной деятельности;
            li точное соответствие персонала заявленным требованиям.
      .img-block__img
        img(src="assets/img/photo-2.jpg", alt="Рукопожатие")