section.hero#hero
  .hero__img(style="background-image: url(assets/img/intro/intro.jpg);")
  .container 
    .hero__inner
      .hero__heading
        .hero__logo 
          svg.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#logo")
        h1 Кадровое агентство<br> Аскада
      .hero__desc Профессиональный подбор персонала<br> на любые вакантные должности
      .hero__buttons 
        a(href="!#", data-modal="modal-call").btn.btn--blink.modal-link.blink Заказать звонок
