section.section.section--bg-accent
  .container 
    .h2.section__title.why-we__title Поможем в найме сотрудников в сферах:
    .spheres
      .spheres__inner
        .spheres__block
          .spheres__title Руководители и Топ персонал
          .spheres__items
            .spheres__item Генеральный директор
            .spheres__item Операционный директор
            .spheres__item Директор по продажам
            .spheres__item Коммерческий директор
            .spheres__item Директор по маркетингу
            .spheres__item Финансовый директор
            .spheres__item Топ-менеджмент
            .spheres__item Руководители любых направлений
            .spheres__item Главные инженеры
            .spheres__item Начальники участков
            .spheres__item Заведующие производством
        .spheres__block
          .spheres__title Специалисты любых сфер
          .spheres__items
            .spheres__item Менеджер по персоналу
            .spheres__item Менеджер отдела продаж
            .spheres__item Менеджеры по работе с клиентами
            .spheres__item Бухгалтер
            .spheres__item Специалисты в области рекламы и PR
            .spheres__item Специалисты в отдел закупок
            .spheres__item Продавцы консультанты
            .spheres__item Медицинские работники
            .spheres__item Рабочий персонал
            .spheres__item Операторы линий
    .section__bottom
      a(href="!#", data-modal="modal-call").btn.btn--blink.modal-link Оставить заявку на подбор персонала

