section.section.section--bg-grey
  .container 
    .section__img-block.img-block 
      .img-block__img 
        img(src="assets/img/intro/intro.jpg", alt="")
      .img-block__content 
        h2.section__title О нашем агентстве
        .img-block__text
          p Наша компания, основанная в 2021 году, строит надежный фундамент для вашего бизнеса. Мы точно знаем, как найти тех сотрудников, которые подтолкнут ваш доход вверх, укрепят ваш бренд, и помогут вам масштабировать бизнес. 
          p <span class="text-accent">«АСКАДА»</span> специализируется на подборе линейного персонала, а также квалифицированных специалистов верхнего и среднего уровня для вашей компании. Мы поможем избавиться от ненужных кадров, оптимизируя ваш штат.
        .img-block__bottom
          a(href="!#", data-modal="modal-call").btn.btn--md.modal-link Связаться с нами