extends /layouts/main/index.pug

block title
  title Кадровое агентство АСКАДА – подбор персонала в Санкт-Петербурге

block beforeWorkarea
  include /components/header/index.pug

block workarea
  include /components/hero/index.pug
  include /components/section-services/index.pug
  include /components/why-we/index.pug
  include /components/spheres/index.pug
  include /components/section-support/index.pug
  include /components/section-how-we-work/index.pug
  include /components/section-prices/index.pug
  include /components/section-partners/index.pug
  include /components/section-about/index.pug
  include /components/section-contacts/index.pug

block afterWorkarea
  include /components/footer/index.pug