section.section 
  .container 
    .section__img-block.img-block 
      .img-block__img 
        img(src="assets/img/intro/intro.jpg", alt="")
      .img-block__content 
        h2.section__title Требуется персонал для бизнеса?
        .img-block__text
          p Компания <span class="text-accent">«АСКАДА»</span> поможет в поиске сотрудников на различные позиции!
          p Неожиданная нехватка сотрудников никогда не застанет вас врасплох, если подбор персонала мы возьмем на себя!
          p Кадровое агентство <span class="text-accent">«АСКАДА»</span> организует профессиональный подбор персонала на любые вакантные должности.
          p Мы обеспечим:
          ul.marker-list
            li бесперебойный поиск сотрудников;
            li проверку каждого кандидата нашей службой безопасности;
            li проведение собеседования, анализ каждого кандидата на пригодность;
            li контроль качества работы исполнителей трудовых обязательст.
