section.section.section--bg-dark.section--sm
  .container 
      .benefits 
        .benefits__item 
          svg.benefits__icon.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#clock")
          .benefits__desc Быстро
        .benefits__item 
          svg.benefits__icon.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#shield")
          .benefits__desc Безопасно
        .benefits__item 
          svg.benefits__icon.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#thumbs-up")
          .benefits__desc Качественно
        .benefits__item 
          svg.benefits__icon.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#wallet")
          .benefits__desc Недорого