a.social-block__link(href="https://vk.com/job_in_piter1", target="_blank")
  svg.svg-icon
    use(xlink:href="assets/img/svg-sprite/sprite.svg#vk")
a.social-block__link(href="https://t.me/job_in_piter1", target="_blank")
  svg.svg-icon
    use(xlink:href="assets/img/svg-sprite/sprite.svg#telegram")
a.social-block__link(href="https://wa.me/79210999706", target="_blank")
  svg.svg-icon
    use(xlink:href="assets/img/svg-sprite/sprite.svg#whatsapp")