section.section.section--bg-grey#section-prices
  .container 
    .prices
      .prices__row 
        .prices__col  
          .h3.section__title Наши цены
          .prices__desc 
            p Стоимость услуг зависит от конкретной вакансии, и составляет определенный процент от годового дохода кандидата. На некоторые должности действует фиксированная цена. 
            p <span class="text-accent">«АСКАДА»</span> экономит время и деньги своих клиентов, предотвращая ошибки при найме персонала и избегая дополнительных расходов на подбор и обучение сотрудников.
        .prices__col 
          .prices__item
            .prices__item-bg(style="background-image: url(assets/img/intro/intro.jpg);")
            .prices__item-content
              .prices__item-title ТОП-Специалисты 
              .prices__item-price 
                | от 10% 
                span годового дохода 
          .prices__item
            .prices__item-bg(style="background-image: url(assets/img/intro/intro.jpg);")
            .prices__item-content
              .prices__item-title Специалисты 
              .prices__item-price 
                | от 7% 
                span годового дохода 
          .prices__item
            .prices__item-bg(style="background-image: url(assets/img/intro/intro.jpg);")
            .prices__item-content
              .prices__item-title Линейный персонал 
              .prices__item-price 
                | от 6% 
                span годового дохода 
