footer.footer 
  .container 
    .footer__inner  
      .footer__col 
        a(href="#hero").logo.footer__logo.smooth-scroll
          svg.icon-svg.logo__svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#logo")
          span.logo__text Аскада
        .footer__address Санкт-Петербург, <br> пр. Обуховской обороны, 120Б, оф.239
      .footer__col 
        .footer__social.social-block
          include /components/socials-block/index.pug
    .footer__bottom © 2021-2024 «АСКАДА»
