section.section
  .container 
    h2.section__title.text-center Нам доверяют
    .partners 
      .partners__slider.slider.sliderPartners
        .swiper
          .swiper-wrapper
            .swiper-slide.partners__slide
              img(src="assets/img/logos/leroymerlin.jpg", alt="Леруа Мерлен")
            .swiper-slide.partners__slide
              img(src="assets/img/logos/baltkam.jpg", alt="Балткам")
            .swiper-slide.partners__slide
              img(src="assets/img/logos/nesco.jpg", alt="Неско")
            .swiper-slide.partners__slide
              img(src="assets/img/logos/velle.jpg", alt="Velle")
            .swiper-slide.partners__slide
              img(src="assets/img/logos/veraclinic.jpg", alt="Вера Клиник")
            .swiper-slide.partners__slide
              img(src="assets/img/logos/mm.jpg", alt="ММ")
          .swiper-pagination
