section.section#section-how-we-work
  .container 
    h2.section__title.text-center Как мы работаем
    .cards 
      .cards__item 
        .cards__number 01
        .cards__icon 
          svg.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#chek-list")
        .cards__title Первый контакт
        .cards__desc 
          p Мы начинаем работу с тщательного сбора информации о Ваших потребностях. <br> Узнаем требования к кандидатам, работаем над пониманием особенностей вакансии, осуществляем анализ рынка труда.
      .cards__item 
        .cards__number 02
        .cards__icon 
          svg.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#people-card")
        .cards__title Подготовительные работы
        .cards__desc 
          p Приступаем к обработке информации, сбору откликов, анализу резюме потенциальных соискателей. Сопоставляем требования работодателей с профилеми кандидатов, чтобы направить наиболее подходящих кандидатов на собеседование.
      .cards__item 
        .cards__number 03
        .cards__icon 
          svg.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#case")
        .cards__title Подбора персонала
        .cards__desc 
          p Вы получаете первые результаты нашей работы – подобранные анкеты потенциальных кандидатов с развернутыми комментариями. Мы предоставляем всю необходимую информацию об опыте работы, навыках и профессиональных качествах соискателей.
      .cards__item 
        .cards__number 04
        .cards__icon 
          svg.icon-svg
            use(xlink:href="assets/img/svg-sprite/sprite.svg#deal")
        .cards__title Финал
        .cards__desc 
          p После завершения предыдущих этапов, наше кадровое агентство предлагает поддержку как работодателям, так и кандидатам. Мы обеспечиваем консультации, помощь в проведении собеседований и сопровождение на всех этапах трудоустройства.